<ion-view class="bgc">
    <ion-content scroll="true">
        <div class="photo_usr img_mg">
            <img class="img" src="img/icon.png">
        </div>
        <div class="button_refesh">
            <button class="button-clear butto_hei btn_bgc"><i class="ion-loop fs24 ico_col"></i></button>
        </div>
        <div class="mgt20">
            <center>
                <h4 class="text_style text-heading colo_wt">Application List</h4>
            </center>

            <div class="list" style="margin-bottom: 1em;">
                <a ng-repeat="app in appList" class="item item-thumbnail-left" href="#" style="padding-top: 1em;">
                  <img style="height: 50px; width: 50px;" src="{{ app.img }}">
                  <h2 style="font-size: 1.5em;">{{app.name}}</h2>
                </a>
            </div>

            <br/>

        </div>
    </ion-content>
    <div class="tabs tabs-icon-top tab_center tab_col border">
        <a ui-sref="home" class="tab-item tab_size text_style">
            <i class="icon ion-ios-home-outline"></i>
        </a>
        <a ui-sref="apps" class="tab-item tab_size text_style">
            <i class="icon ion-ios-calendar-outline"></i>
        </a>
        <a ui-sref="messages" class="tab-item tab_size text_style">
            <i class="icon ion-ios-email-outline"></i>
        </a>
    </div>

</ion-view>
