<ion-view class="bgc">
    <ion-content scroll="true">
        <div class="photo_usr img_mg">
            <img class="img img_1" src="img/icon.png">
        </div>
        <div class="button_refesh">
            <button ng-click="listSMS()" class="button-clear butto_hei btn_bgc"><i class="ion-loop fs24 ico_col"></i></button>
        </div>
        <div style="text-align: center; margin-top: 40%;">
          <p class="fs20 white text_style">App Synced</p>
        </div>
        <div style="text-align: center;">
            <i class="ion-android-checkmark-circle fs70 cir_icon"></i>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top tab_center tab_col border">
        <a ui-sref="home" class="tab-item tab_size text_style">
            <i class="icon ion-ios-home-outline"></i>
        </a>
        <a ui-sref="apps" class="tab-item tab_size text_style">
            <i class="icon ion-ios-calendar-outline"></i>
        </a>
        <a ui-sref="messages" class="tab-item tab_size text_style">
            <i class="icon ion-ios-email-outline"></i>
        </a>
    </div>
</ion-view>
