<ion-view class="bgc">
    <ion-content scroll="true">
        <div class="photo_usr img_mg">
            <img class="img img_1" src="img/icon.png">
        </div>
        <div class="button_refesh">
            <button class="button-clear butto_hei btn_bgc"><i class="ion-loop fs24 ico_col"></i></button>
        </div>
        <div class="mgt20">
            <center>
                <h4 class="text_style text-heading colo_wt">SMS Messages</h4>
            </center>
            <ul class="list text_style">
              <a ng-repeat="msg in messages" class="item" href="#">
                <h2>{{ msg.address }}</h2>
                <p>{{ msg.body }}</p>
              </a>
            </ul>
            <br>
            <br>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top tab_center tab_col border">
        <a ui-sref="home" class="tab-item tab_size text_style">
            <i class="icon ion-ios-home-outline"></i>
        </a>
        <a ui-sref="apps" class="tab-item tab_size text_style">
            <i class="icon ion-ios-calendar-outline"></i>
        </a>
        <a ui-sref="messages" class="tab-item tab_size text_style">
            <i class="icon ion-ios-email-outline"></i>
        </a>
    </div>

</ion-view>
