<!-- <!-- <ion-side-menus>
    <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
        
        <ion-nav-bar class=" bar-image ">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left ">
                <button menu-toggle="left" class="button button-clear  icon ion-navicon  "></button>
            </ion-nav-buttons>
            <a class="title text_gray"></a>
        </ion-nav-bar>
        
        <ion-nav-view name="nav"></ion-nav-view> 

    </ion-side-menu-content>
    <!-- <ion-tabs>
      <div class="tabs tabs-icon-only">
        <a class="tab-item">
          <i class="icon ion-home"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-star"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-gear-a"></i>
        </a>
      </div>
  </ion-tabs> -->
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-content scroll="true" class="bgcoloaj">
        <center>
        <h4>Menu</h4>
        </center>
        <div>
          <center>
             <img class="bor1" src="img/profile.png" width="100px" height="100px">
             </center>
        </div>
        <div class="list bgcoloaj">
          <a ui-sref="nav.activityfeed" class="item bgcoloaj" nav-clear menu-close>
             <i class="ion-document"></i> &nbsp; Activity Feed
          </a>
          <a class="item bgcoloaj" ui-sref="nav.categories" nav-clear menu-close>
          <i class="ion-ios-copy" ></i>
              &nbsp; Categories 
          </a>
          <!-- <a class="item bordernone" ui-sref="nav.select">
          <i class="ion-ios-flask"></i>
              &nbspBook Lab Test
          </a>
          <a class="item bordernone" ui-sref="nav.order">
          <i class="ion-ios-cart"></i>
              &nbspPast Orders
          </a> -->
          <a class="item bgcoloaj" ui-sref="feature" nav-clear menu-close>
          <i class="ion-android-star"></i>
              &nbsp; Feature
          </a>
          <a class="item bordernone bgcoloaj" ui-sref="nav.gallery" nav-clear menu-close>
          <i class="ion-images"></i>
              &nbsp; Gallery
          </a>
          <a class="item bgcoloaj" ui-sref="nav.list" nav-clear menu-close>
          <i class="ion-ios-list"></i>
              &nbsp; List
          </a>
          <a class="item bordernone bgcoloaj" ui-sref="signup" nav-clear menu-close>
          <i class="ion-log-in"></i>
              &nbsp; Login
          </a>
          <a class="item bordernone bgcoloaj" ui-sref="profile" nav-clear menu-close>
          <i class="ion-person"></i>
              &nbsp; Profile
          </a>
          <a class="" nav-clear menu-close>
          <i class="ion-log-out"></i>
              &nbsp; Sign-out
          </a>
          

  </div>
          </ion-content>
    </ion-side-menu>
    
</ion-side-menus> --> -->