<ion-view class="bgc">
  <ion-content class="bgc" scroll="true">
    <div class="logo_mg">
      <center>
        <img class="logo_hei" src="img/logo-white.png">
      </center>
    </div>
    <center>
      <div class="mgt100">
        <input class="input_area bor_form" type="text" name="text" placeholder="Enter your Pin" ng-model="data.pin">
        <div class="mgt50">
          <button ng-click="LogIn()" class="bor_form button button-clear button-block button button-balanced input_area text_style btn-confirm">
            Confirm
          </button>
        </div>
      </div>
    </center>
  </ion-content>
</ion-view>
