<nav class="cat__menu-left">
    <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
        <div class="cat__menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="cat__menu-left__logo">
        <a [routerLink]="['/']">
            <img src="assets/modules/dummy-assets/common/img/header-logo.png" />
        </a>
    </div>
    <div class="cat__menu-left__inner">
        <ul class="cat__menu-left__list cat__menu-left__list--root">
            
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a >
                    <span class="cat__menu-left__icon dashboardicon"></span>
                    Today
                </a>
            </li>
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['dashboards/people']">
                    <span class="cat__menu-left__icon peopleicon">
                        <!--<span class="badge badge-top pull-right">3</span>-->
                    </span>
                    People
                </a>
            </li>
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a >
                    <span class="cat__menu-left__icon chaticon">
                        <!--<span class="badge badge-top pull-right">+99</span>-->
                    </span>
                    Chat
                </a>
            </li>
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a>
                    <span class="cat__menu-left__icon posticon" aria-hidden="true">
                        <!--<span class="badge badge-top pull-right">15</span>-->
                    </span>
                    Posts
                </a>
            </li>
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a>
                    <span class="cat__menu-left__icon taskicon" aria-hidden="true"></span>
                    Tasks
                </a>
            </li>

            <!--<li class="cat__menu-left__divider"></li>-->
        </ul>
    </div>
</nav>