<div class="cat__footer">
  
  <a href="javascript: void(0);" class="cat__core__scroll-top addbtn"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
  <!--<a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>-->
  
</div>
