<!-- START: layout/sidebars -->


<!-- Panel with Left Sidebar -->
<section class="">
    <div class="row">
       <div class="col-xl-2">
         
         <div class="cat__core__card-sidebar sidebar-div">
            <div class="people-title">
                <span class="icmn-list2"></span>
                &nbsp;&nbsp;
                <span class="fs-18">People</span>
            </div>
            <ul class="sidemenu-peoples">
                <li class="active"><a>Employees</a></li>
                <li><a>Departments</a></li>
                <li><a>Locations</a></li>
                <li><a>Teams</a></li>
                <li><a>Status</a></li>
            </ul>
        </div>
        <div style="height:10px;"></div>
        <div class="cat__core__card-sidebar sidebar-div">
           <ul class="sidemenu-peoples">
                <li><a>Favorites</a></li>
                <li><a>My Teams</a></li>
                <li><a>My Status</a></li>
            </ul>
        </div>
       </div>

       <div class="col-xl-10  sidebar-div">
          <div class="card-header no_border">
            <div class="row">
              <div class="col-xl-8 pad_15">
                <span class="cat__core__title">
                    <strong>Employees (320)</strong>
                </span>
                
                  <div class="cat__top-bar__search employeesearch">
                    <i class="icmn-search"></i>
                    <input placeholder="Type to search..." type="text">
                  </div>
              </div>
              <div class="col-xl-4 pad_15" style="text-align:right;">
                <button class="btn btn-icon btn-outline-till mr-2 mb-2" type="button">Select</button>
                <button (click)="showhidemode();" class="btn btn-icon btn-outline-till mr-2 mb-2" type="button"><i aria-hidden="true" class="fa fa-th"></i></button>
                <button (click)="showhidemode();" class="btn btn-icon btn-outline-till mr-2 mb-2" type="button"><i aria-hidden="true" class="fa fa-list"></i></button>
                <div class="btn btn-icon btn-outline-till mb-2">
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)">A to Z</a>
                            <a class="dropdown-item" href="javascript:void(0)">Z to A</a>
                        </ul>
                    </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card padding10 no_border">
              <div *ngIf="cardlistview != true" >
                <div class="row ">
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4 ">
                                <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/3.jpg" alt="Alternative text to the image">
                                </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">Artour Aniston</strong>
                                <br />
                                <span class="text-muted">Project Manager</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">David Lee</strong>
                                <br />
                                <span class="text-muted">PHP Coder</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">Aston Martin</strong>
                                <br />
                                <span class="text-muted">Director</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">David Lee</strong>
                                <br />
                                <span class="text-muted">PHP Coder</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/3.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">Artour Aniston</strong>
                                <br />
                                <span class="text-muted">Project Manager</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">David Lee</strong>
                                <br />
                                <span class="text-muted">PHP Coder</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">Aston Martin</strong>
                                <br />
                                <span class="text-muted">Director</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-4">
                            <i class="fa fa-ellipsis-v cat__core__widget__1__edit" aria-hidden="true"></i>
                            <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" href="javascript:void(0);">
                                <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" alt="Alternative text to the image">
                            </a>
                            <div class="my-3 text-center">
                                <strong class="font-size-18">David Lee</strong>
                                <br />
                                <span class="text-muted">PHP Coder</span>
                            </div>
                            <div class="text-center">
                                Available
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div *ngIf="cardlistview == true" class="card" order-id="card-3">
                <div class="card-block">
                    <table class="table mb-0 table_main">
                        <tbody>
                        <tr>
                            <td scope="row no_border">
                                <input type="checkbox" class="margtop8">
                            </td>
                            <td class="no_padding"><a class="cat__core__link--underlined cat__core__link--blue no_border" data-placement="right" data-toggle="tooltip" href="javascript: void(0);" title="">
                                <span class="avtar_img">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                                </span> Mark Stevenson</a></td>
                            <td>COO</td>
                            <td class="hidden-lg-down">
                                Available
                            </td>
                            <td>
                                <span class="mr-2 mr-21">
                                    <i class="fa fa-star-o fs-18" aria-hidden="true"></i>
                                    <i class="fa fa-ellipsis-v fs-18" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="margtop8">
                            </th>
                            <td class="no_padding"><a class="cat__core__link--underlined cat__core__link--blue no_border"  data-placement="right" data-toggle="tooltip" href="javascript: void(0);" title="">
                                <span class="avtar_img">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                                </span>
                                Jacob Hoffman</a></td>
                            <td>Assistant</td>
                            <td class="hidden-lg-down">
                                In office
                            </td>
                            <td>
                                <span class="mr-2 mr-21">
                                    <i class="fa fa-star-o fs-18" aria-hidden="true"></i>
                                    <i class="fa fa-ellipsis-v fs-18" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="margtop8">
                            </th>
                            <td class="no_padding"><a class="cat__core__link--underlined cat__core__link--blue no_border" data-placement="right" data-toggle="tooltip" href="javascript: void(0);" title="">
                                <span class="avtar_img">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                                </span>
                                Larry Page</a></td>
                            <td>MD</td>
                            <td class="hidden-lg-down">
                                Leave
                            </td>
                            <td>
                                <span class="mr-2 mr-21">
                                    <i class="fa fa-star-o fs-18" aria-hidden="true"></i>
                                    <i class="fa fa-ellipsis-v fs-18" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="margtop8">
                            </th>
                            <td class="no_padding"><a class="cat__core__link--underlined cat__core__link--blue no_border" data-placement="right" data-toggle="tooltip" href="javascript: void(0);" title="">
                                <span class="avtar_img">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                                </span>
                                Mark Stevenson</a></td>
                            <td>Manager</td>
                            <td class="hidden-lg-down">
                                Busy
                            </td>
                            <td>
                                <span class="mr-2 mr-21">
                                    <i class="fa fa-star-o fs-18" aria-hidden="true"></i>
                                    <i class="fa fa-ellipsis-v fs-18" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="margtop8">
                            </th>
                            <td class="no_padding"><a class="cat__core__link--underlined cat__core__link--blue no_border" data-placement="right" data-toggle="tooltip" href="javascript: void(0);" title="">
                                <span class="avtar_img">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                                </span>
                                Mark Stevenson</a></td>
                            <td>CEO</td>
                            <td class="hidden-lg-down">
                                In meating
                            </td>
                            <td> 
                                <span class="mr-2 mr-21">
                                    <i class="fa fa-star-o fs-18" aria-hidden="true"></i>
                                    <i class="fa fa-ellipsis-v fs-18" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <div class="cat__core__margin-fix"><!-- --></div>

          </div>
            
       </div>
    </div>
</section>
<!-- End Panel with Left Sidebar -->

