<div class="cat__top-bar">
  <!-- left aligned items -->
  <div class="cat__top-bar__left">
    <div class="cat__top-bar__logo">
      <a>
        <img src="assets/modules/dummy-assets/common/img/header-logo-2.png" />
      </a>
    </div>
  </div>
  <div class="cat__top-bar__right">
    <div class="cat__top-bar__item">
      <label for="modal_checkbox" class="searchicon" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Search" ><i class="fa fa-search fs-17" aria-hidden="true"></i></label>
    </div>
    <div class="cat__top-bar__item">
      <div class="dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle removetoggle infoicon" data-toggle="dropdown" aria-expanded="false" data-placement="bottom">
          <i class="fa fa-question-circle-o fs-20" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="" role="menu">
          <a class="dropdown-item" href="javascript:void(0)">Knowledge base</a>
          <a class="dropdown-item" href="javascript:void(0)">Contact us</a>
          <a class="dropdown-item" href="javascript:void(0)">Feedback</a>
          <a class="dropdown-item" href="javascript:void(0)">About</a>
        </ul>
      </div>
    </div>
    <div class="cat__top-bar__item">
      <div class="cat__top-bar__menu-button cat__menu-right__action--menu-toggle">
        <a href="javascript: void(0);" class="margin_left-8"  data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Notification">
          <i class="fa fa-bell-o fs-17" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    
    <div class="cat__top-bar__item">
      <div class="dropdown cat__top-bar__avatar-dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle infoicon  padding-right10 margin_left-8" data-toggle="dropdown" aria-expanded="false">
            <span class="cat__top-bar__avatar" href="javascript:void(0);">
                <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu" style="min-width: 26rem;">
          <span class="arrow-up" ></span>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 text_center avatar_padd">
              <span class="cat__top-bar__avatar avatar2" href="javascript:void(0);">
                  <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
              </span>
              <!--<div class="camerabtn"><span class="fa fa-camera fs-24" aria-hidden="true"></span></div>-->
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div>
                <p class="proname">Rupesh Patil</p>
                <p class="margbott">Sr. Manager</p>
                <p class="margbott">BatchMaster Software Pvt Ltd</p>
                <span class="badge badge-danger">Busy</span>
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="col-xl-12">
            <div class="pull-left"><button class="btn btn-outline-till btn-sm">Settings</button></div>
            <div class="pull-right"><button class="btn btn-outline-till btn-sm">Log out</button></div>
          </div>
        </div>
      </div>
    </div>

    <div class="cat__top-bar__item margin-left17">
      <div class="cat__top-bar__menu-button cat__menu-right1__action--menu-toggle">
        <a href="javascript: void(0);" data-placement="left" data-toggle="tooltip" title="" data-original-title="Chats &amp; Tasks">
          <i class="fa baricon" aria-hidden="true"></i>
          <i class="fa baricon_right" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>
</div>


<div>
  <input id="modal_checkbox" type="checkbox" name="modal" tabindex="1">
  <div class="modal__overlay">
    <label for="modal_checkbox" class="overlay-close">&#10006;</label>
    <div class="modal__box">
     <input type="text" class="full-width-search" placeholder="Search" />
    </div>
  </div>
</div>