<div class="cat__menu-right" style="overflow:hidden !important;">
  <div class="cat__menu-right__inner">
    <div class="cat__menu-right__header">
      <span class="fa fa-times pull-right cat__menu-right__action--menu-toggle"><!-- --></span>
      Notification
    </div>
    <div class="cat__top-bar__activity" style="overflow:auto !important;">
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div><div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="cat__top-bar__activity__item">
        <img src="assets/modules/dummy-assets/common/img/smile.png" class="notific_img">
        <div class="cat__top-bar__activity__inner">
          <div class="cat__top-bar__activity__descr">
            Failed to get available update your application, update now.
          </div>
        </div>
      </div>
      <div class="viewallbtn">
        <button class="btn btn-small btn-default">View All</button>
      </div>
    </div>
  </div>
</div>


<div class="cat__menu-right1" style="overflow:hidden !important;">
  <div class="cat__menu-right1__inner">
    <div class="cat__menu-right1__header">
       <div class="nav-tabs-horizontal cat__apps__messaging__nav-tabs pull-left" style="width:100%;">
          <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" style="width:50%">
                  <a aria-expanded="true" class="nav-link active" data-target="#chat_div" data-toggle="tab" href="javascript: void(0);" role="tab" style="text-align:center;font-weight: bold;">
                      <span class="hidden-md-down">Chat</span>
                  </a>
              </li>
              <li class="nav-item" style="width:50%">
                  <a aria-expanded="false" class="nav-link" data-target="#task_div" data-toggle="tab" href="javascript: void(0);" role="tab" style="text-align:center;font-weight: bold;">
                      <span class="hidden-md-down">Tasks</span>
                  </a>
              </li>
          </ul>
      </div>
    </div>
    <div class="cat__top-bar__activity" style="overflow:auto !important;">
     
    </div>
  </div>
</div>
