.fs8 {
    font-size: 8px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs24 {
    font-size: 24px !important;
}

.fs26 {
    font-size: 26px !important;
}

.fs28 {
    font-size: 28px !important;
}

.fs30 {
    font-size: 30px !important;
}

.fs32 {
    font-size: 32px !important;
}

.fs32 {
    font-size: 32px !important;
}

.fs34 {
    font-size: 34px !important;
}

.fs36 {
    font-size: 36px !important;
}

.fs38 {
    font-size: 38px !important;
}

.fs40 {
    font-size: 40px !important;
}

.fs70 {
    font-size: 70px !important;
    color: #fff !important;
}

.floatl {
    float: left !important;
} 

.floatr {
    float: right !important;
}

.white {
    color: white !important;
} 

.fs5 {
    font-size: 5px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs15 {
    font-size: 15px !important;
}

.border-none {
    border-bottom:none !important;
}

.border {
    border:none !important;
}

.center{
    text-align: center !important;
}

.no_padding{
    padding: 0px !important;
}

.no_margin {
    margin: 0px !important;
}

.blue {
    color: blue !important;
}

.mgl5 {
    margin-left: 5px !important;
}

.mgt5 {
    margin-top: 5px !important;
}

.mgt10 {
    margin-top: 10px !important;
}

.mgt20 {
    margin-top: 20px !important;
}

.mgt15 {
    margin-top: 15px !important;
}

.mgt_5 {
    margin-top: -5px !important;
}

.mgt_10 {
    margin-top: -10px !important;
}

.mgt_15 {
    margin-top: -15px !important;
}

.mgl5 {
    margin-left: 5px !important;
}



/*     */
.bgc {
    background: #2F7ABE !important;
}

.logo_hei {
    width: auto !important;
    height: 75px !important;
}

.logo_mg {
    margin-top: 130px !important;
}

.input_area {
    width: 225px !important;
    text-align: center;
}

.mgt100 {
    margin-top: 100px !important;
}

.mgt50 {
    margin-top: 50px !important;
}

.color_plac {
    color: ##000000 !important;
}

.bor_form {
 border: none !important;
 border-radius: 3px !important;
 padding: 0px !important;
}

.tab_center {
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.photo_usr {
    width:109px !important;
    border-radius:50% !important;
}

.img {
    width: 80px !important;
    height: 84px !important;
    border-radius: 50% !important;
}

.img_mg {
   /* margin-top: 15px !important;
   margin-left: 15px !important;*/
}

.button_refesh {
    float: right !important;
    margin-top: -46px !important;
    margin-right: 16px !important;
    /*border: solid #6D8EAB 2px !important;*/
}

.butto_hei {
    max-width: 58px !important;
    min-width: 53px !important;
    min-height: 32px !important;
    max-height: 48px !important;
}

.mgt30 {
    margin-top: 100px !important;
}

.circle {
    
    height: 100px !important;
}

.btn_bgc {
    background: #33CC5F !important;
    line-height: 0px !important;
}

.ico_col {
    color: #1B747A !important;
}

.mgl_20 {
    margin-left: -20px !important;
}

.tab_col {
    background: #fff !important;
    padding: 10px 52px 10px 52px !important;
    box-shadow: 0px 0px 8px #000 !important;
}

.tab_size {
    color: #ffffff !important;
    font-size: 13px !important;
}

.cir_icon {
    font-weight: 800 !important;
}

.text-heading {
    font-weight: 600 !important;
}

.text_style {
    /*font-family: cursive !important;*/
}
.input_area.bor_form::-webkit-input-placeholder { 
 color: #000 !important;
}
.input_area.bor_form::-moz-placeholder { / Firefox 19+ /
   color: #000 !important; 
}
.input_area.bor_form:-ms-input-placeholder { / IE 10+ /
    color: #000 !important;
}
.input_area.bor_form:-moz-placeholder { / Firefox 18- /
 color: #000 !important;
}
.input_area.bor_form{
    /*font-family: cursive !important;*/
    color: #000 !important;
}
button.bor_form.button.button-block.button.button-balanced.input_area.text_style.btn-confirm {
    line-height: 0px !important;
    min-height: 34px !important;
    width: 43% !important;
    background-color: transparent;
    border: 2px solid white !important;
    color: #fff !important;
}
a.tab-item.tab_size.text_style i {
    color: #2f7abe !important;
    font-size: 27px !important;
}
.img_1{
    width: 80px !important;
    height: 84px !important;
    border-radius: 40px !important;
}
.colo_wt {
    color: #fff !important;
}

